$dimension-lg: {dimension.md} * {dimension.scale};
$dimension-md: {dimension.sm} * {dimension.scale};
$dimension-scale: 2;
$dimension-sm: {dimension.xs} * {dimension.scale};
$dimension-xl: {dimension.lg} * {dimension.scale};
$dimension-xs: 4;