<div class="subscribe-form main-width">
    <div class="subscribe-form__content">
        <div class="subscribe-form__title" data-i18n="subscribe.title">Subscribe to our newsletter for insider access!</div>
        <div class="subscribe-form__description" data-i18n="subscribe.description">Join our community and never miss out on exciting opportunities.</div>
        <form class="subscribe-form__form">
            <input type="email" placeholder="Enter your email" required>
            <button type="submit" class="btn btn--primary btn--l" data-i18n="subscribe.button">Subscribe</button>
        </form>
        <div class="subscribe-form__privacy" data-i18n="subscribe.privacy">We care about your data. Read our privacy policy.</div>
        </div>
        <div class="subscribe-form__image">
            <img src="images/subscribe-image.png" alt="Subscribe Image">
        </div>
    </div>
</div>