.banners {
    padding: 140px 0;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            font-weight: 500;
            font-size: 48px;
            line-height: 125%;
            letter-spacing: -0.04em;
            color: var(--text-heading-primary);
        }
    }

    &__list {
        display: flex;
        margin-top: 60px;

    }

    &__item {
        border-radius: 32px;
        max-width: 592px;
        height: 192px; 
    }
}
